.App {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.calculatorContainer {
  width: 495px;
  height: 600px;
  border: 2px solid black;
}

.row {
  display: flex;
  width: 100%;
}

.button {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  background-color: 	#8FBC8F;
  color: black;
  flex: 1;
  border: 2px solid grey;
}

.symbol {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  flex: 1;
  background-color: rgb(27, 110, 193);
  color: #ffffff;
  border: 2px solid grey;
}

.enter {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  background-color:grey;
  font-weight: bold;
  color: white;
  outline: 2px solid grey;
  border: 2px solid black;
}

.enterText {
  margin-right: 15px;
}

.clear {
  font-weight: bold;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 30px;
  background-color: #c5c3cd;
  color: black;
  flex: 2;
  outline: 1px solid #888888;
}